<!doctype html>
<html>
  <head>
  	<meta http-equiv="refresh" content="300">
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="css/site.css">
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
